___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: numbers can be of two data types: integer or int and floating-point or float which is a decimal. 

Strings: these are contained in single, double, or triple quotes. These are any characters within quotes, most often in the form of letters and words. 

Lists: this is a collective data type that can contain any data type within close brackets [], separating each element by a comma, where each element is indexed and ordered. Lists are mutable such that elements can be reassigned.

Tuples: typles are like lists but they are enclosed in parentheses (). However, contrary to lists, they are immutable, which means you cannot reassign an element. 

Dictionaries: dictionaries are unordered key-value pairs, where a key maps to a value, contained within curly brackets {}. Example: {'key1':100, 'key2':200, 'key3':300}. You access values based on keys, not on the order of the index.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [7]:
2**2 / 2 * 2.5 * 2 * 9.25 - 6.25 + 14

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [11]:
print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

float

In [13]:
type(3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [14]:
# Square root:
4 * .5

2.0

In [15]:
# Square:
4 ** 2

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [16]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [19]:
s ='hello'
# Reverse the string using slicing

print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [20]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [21]:
# Method 2:

print(s[4])

o

## Lists

Build this list [0,0,0] two separate ways.

In [31]:
# Method 1:
l = [0, 0, 0]
l.append(1)
l

[0, 0, 0, 1]

In [33]:
# Method 2:
l[3] = 8
l

[0, 0, 0, 8]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [35]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [36]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [37]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [38]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [42]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [43]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

You cannot sort a dictionary because it is not ordered like a list. You find values based on keys, like looking up the definition of a key word in a dictionary.

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are immutable while lists are mutable.

How do you create a tuple?<br><br>

You create a tuple by enclosing comma separated values within a pair of parentheses like so (1, 2, 3)

## Sets

What is unique about a set?<br><br>

A set contains unqique values enclosed within curly braces such as {1, 2, 3}. No values are repeated or duplicated within a set. So a set would be good for eliminating duplicates within a list or tuple.

Use a set to find the unique values of the list below:

In [55]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

police = 'police'
print(f"fuck the {police}!")

fuck the police!

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [47]:
# Answer before running cell
2 > 3

False

In [48]:
# Answer before running cell
3 <= 2

False

In [49]:
# Answer before running cell
3 == 2.0

False

In [50]:
# Answer before running cell
3.0 == 3

True

In [51]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [52]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!